<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
/**
 * Generated at <#=DateTime.Now.ToString()#>
 */
 /// <reference path="scripts/timple-ajax.ts" />
 /// <reference path="scripts/typings/jquery/jquery.d.ts" />